In [1]:
import pandas as pd

In [2]:
df_bmw = pd.read_csv('BMW_codes.csv')
df_benz = pd.read_csv('Benz_codes.csv')
df_audi = pd.read_csv('Audi_codes.csv')
df_genesis = pd.read_csv('GENESIS_codes.csv')
df_gm = pd.read_csv('KoreaGM_codes.csv')
df_renu = pd.read_csv('renault_codes.csv')
df_ss = pd.read_csv('ssangyong_codes.csv')

In [3]:
df_bmw.head()

      codes
0  22902743
1  22602272
2  22460811
3  22782003
4  21177438

In [4]:
total_df = pd.concat([df_bmw,df_benz,df_audi,df_genesis,df_gm,df_renu,df_ss])
total_df.head()

      codes
0  22902743
1  22602272
2  22460811
3  22782003
4  21177438

In [6]:
print(len(df_bmw)+len(df_benz)+len(df_audi)+len(df_genesis)+len(df_gm)+len(df_renu)+len(df_ss))
print(len(total_df))

44640
44640

In [10]:
total_df.to_csv('total_codes.csv',index=False)

In [11]:
df = pd.read_csv('total_codes.csv')

In [12]:
df

          codes
0      22902743
1      22602272
2      22460811
3      22782003
4      21177438
...         ...
44635  22064689
44636  22084919
44637  22087430
44638  22346080
44639  22070476

[44640 rows x 1 columns]