In [2]:
import pandas as pd
import numpy as np
from tqdm import tqdm
from geopy.geocoders import Nominatim
import re

In [2]:
pd.set_option("display.max_columns", None) # set_option 파마미터에 None값을 전달하면 모든 columns를 다 볼 수 있어요. (default= 20cols)
df = pd.read_csv('Kia_usedCar_0528(uts8).csv') # 전처리 전 raw data
df.head(10)

,car_url,car_area,car_no,car_brand,car_name,name_datailed,price,year,use,depreciation,mileage,fuel,forecast_min,forecast_max,car_type,car_cc,color,trans,loss,flood,usage,change,insurance,sales_corp,sales_loca,options
0,23004792,경기,77가4614,기아,기아 그랜드카니발,GLX 11인승,390만원,09년06월(09년식),12년 8개월,85%,196273km,디젤,297,569만원,RV,2200cc,검정색,오토,없음,없음,없음,4회,사고없음,(주)스마트카,경기 수원시 권선구 권선로 308-5 (고색동),[열선시트]
1,23004790,경기,14소0793,기아,기아 스포티지 4세대,디젤 2.0 2WD 프레스티지,1520만원,16년04월(16년식),6년 0개월,41%,92742km,디젤,1355,1635만원,SUV,1995cc,파랑색,오토,없음,없음,없음,1회,사고있음,코리아모터스,경기 수원시 권선구 권선로 308-5 (고색동),[스마트키/ 오토라이트/ 가죽시트/ 열선시트/ 사이드&커튼에어백/ 전동접이사이드미러...
2,23004771,대전,60소2024,기아,기아 뉴오피러스,GH270 고급형,290만원,07년10월(07년식),14년 4개월,91%,120850km,가솔린,228,471만원,대형,2656cc,검정색,오토,없음,없음,없음,없음,사고있음,다이슈몰,대전 유성구 복용동로 35 (복용동),[내비게이션/ 오토라이트/ 주차감지센서/ 가죽시트/ 열선시트/ 레인선서와이퍼/ 전동...
3,23004769,부산,25주8722,기아,기아 K5,가솔린 2.0 프레스티지,750만원,11년01월(11년식),11년 1개월,63%,86670km,가솔린,648,909만원,중형,0cc,은색,오토,없음,없음,없음,1회,사고없음,(주)엠제이모터스,부산 사하구 을숙도대로 520 (신평동),[내비게이션/ 스마트키/ 오토라이트/ 가죽시트/ 열선시트/ 사이드&커튼에어백/ 하이...
4,23004767,경기,185누3586,기아,기아 올 뉴 모닝(JA),LPi 디럭스,600만원,18년03월(18년식),4년 1개월,42%,67360km,LPG,681,983만원,경차,0cc,흰색,오토,없음,없음,있음,1회,사고있음,하나모터스,경기 수원시 권선구 평동로79번길 45 (평동),[사이드&커튼에어백/ 타이어공기압장치(TPMS)]
5,23004764,경기,31더4881,기아,기아 더 뉴 카니발,하이리무진 3.3 가솔린 9인승 노블레스 스페셜,3670만원,18년06월(19년식),3년 10개월,34%,103363km,가솔린,3228,3586만원,RV,3342cc,검정색,오토,없음,없음,없음,2회,사고없음,주식회사바른모터스,경기 수원시 권선구 평동로79번길 45 (평동),[썬루프/ 내비게이션/ 스마트키/ 오토라이트/ 주차감지센서/ 가죽시트/ 열선시트/ ...
6,23004758,경기,60우3416,기아,기아 뉴카니발,GLX 기본형,580만원,09년01월(09년식),13년 1개월,78%,139594km,디젤,444,716만원,RV,0cc,흰색,오토,없음,없음,없음,없음,사고있음,(주)중앙자동차매매상사,경기도 이천시 경충대로 2914,[등록된/ 주요/ 옵션이/ 없습니다.]
7,23004753,대구,05도0605,기아,기아 더 뉴 K3,1.6 가솔린 트렌디 E,1240만원,16년01월(16년식),6년 3개월,39%,39792km,디젤,1067,1335만원,준중형,1582cc,진주색,오토,없음,없음,없음,1회,사고있음,에이스모터스,대구 서구 문화로 37 (이현동),[내비게이션/ 스마트키/ 오토라이트/ 주차감지센서/ 가죽시트/ 열선시트/ 하이패스룸...
8,23004752,경기,267도6327,기아,기아 레이,1.0 가솔린 럭셔리,579만원,15년04월(16년식),7년 0개월,58%,68724km,가솔린,709,956만원,경차,998cc,흰색,오토,없음,없음,있음,4회,사고없음,울트라모터스,경기 수원시 권선구 권선로 308-5 (고색동),[내비게이션/ 스마트키/ 오토라이트/ 주차감지센서/ 가죽시트/ 열선시트/ 사이드&커...
9,23004751,부산,29저1489,기아,기아 올 뉴 카니발,7인승 2.2 디젤 리무진 VIP,2630만원,17년06월(18년식),4년 9개월,29%,73193km,디젤,2200,2554만원,RV,0cc,회색,오토,없음,없음,없음,1회,사고없음,(주)천일모터스,부산 사상구 낙동대로 1094 (감전동),[내비게이션/ 스마트키/ 가죽시트/ 하이패스룸밀러/ 전동접이사이드미러/ 크루즈컨트롤...

In [3]:
len(df)

24911

In [4]:
# 잦은 크롤링으로 인해 중복값이 엄청 많습니다. car_url을 기준으로 제거해주겠습니다
df = df.drop_duplicates(subset='car_url')
len(df) # 44342 , 약 15,000개 행이 제거되었습니다.

24911

In [5]:
df.isnull().sum().sum() # 99
df=df.dropna(axis=0)
df.isnull().sum().sum() # 0

# 공백값이 있는 행들을 제거 해주었기 때문에 DataFrame의 index가 비어있습니다.
# reset_index를 통해 정수형 인덱스를 다시 부여해줍니다.
df = df.reset_index(drop=True)

In [6]:
# 사용개월 수(use) columns를 변환해주는 함수입니다.
def get_months(use_months):  # 'Y년 M개월'의 형태를 가져야 함(str)
    
    try:
        x = int(use_months.split()[0].replace('년','')) * 12
        y = int(use_months.split()[1].replace('개월',''))
        
    except Exception as e:
        
        if '년' in use_months:
            x = int(use_months.replace('년','')) *12
            y = 0
        elif '개월' in use_months:
            x = 0
            y = int(use_months.replace('개월',''))
        else:
            print(e)
    
    months = x+y
    
    return months

# 연식(year) columns를 변환해주는 함수입니다.
def change_year(car_year): #'YY년 MM개월(YY년식)'의 형태를 가져야 함(str)
    car_year = car_year.split('(')[-1].replace(')','')
    if car_year[0] == '9':
        car_year = int('19'+car_year.replace('년식',''))
    else:
        car_year = int('20'+car_year.replace('년식',''))
    
    return car_year

# folium을 후에 구현하기 위해 판매업체 주소(sales_loca) columns를 변환해주는 함수입니다.
def check_sales_loca(area_text,loca_text): # 한국 주소지의 형태를 가져야함 str
    
    if area_text == loca_text[:2]:
        loca_text = loca_text.split()[0]+' '+loca_text.split()[1]
        
    else :
        loca_text = area_text
        
    return loca_text

# 상위 3개의 함수와 다른 전처리를 통해서 raw_dataframe을 가공해주는 함수입니다.
def change_data(dataframe):
   
    for i in range(len(dataframe)):
        try:
            dataframe['car_name'][i] = dataframe['car_name'][i].replace(dataframe['car_brand'][i]+' ' ,'')
            dataframe['price'][i] = dataframe['price'][i].replace('만원','')
            dataframe['depreciation'][i] = dataframe['depreciation'][i].replace('%','')
            dataframe['mileage'][i] = dataframe['mileage'][i].replace('km','')
            dataframe['forecast_max'][i] = dataframe['forecast_max'][i].replace('만원','')
            dataframe['car_cc'][i] = dataframe['car_cc'][i].replace('cc','')
            dataframe['use'][i] = get_months(use_months=dataframe['use'][i])
            dataframe['year'][i] = change_year(car_year=dataframe['year'][i])
            dataframe['sales_loca'][i] = check_sales_loca(area_text=dataframe['car_area'][i],loca_text=dataframe['sales_loca'][i])
        except Exception as e:
            print(f'{i}번째 {e}에러')
    
    changed_df = dataframe
        
    
    return changed_df

In [7]:
df2 = change_data(df) #위에 만들어놓은 함수에 raw_dataframe을 넣어줍니다.
df2 = df2.astype({'car_url':'int','price':'int', 'use':'int', 'depreciation':'int', 'mileage':'int',
                  'forecast_min':'int', 'forecast_max':'int', 'car_cc':'int'}) # DataFrame의 값의 형변환은 .astype()을 사용합니다.

C:\Users\ksy94\AppData\Local\Temp/ipykernel_13816/2766045303.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe['car_name'][i] = dataframe['car_name'][i].replace(dataframe['car_brand'][i]+' ' ,'')
C:\Users\ksy94\AppData\Local\Temp/ipykernel_13816/2766045303.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe['price'][i] = dataframe['price'][i].replace('만원','')
C:\Users\ksy94\AppData\Local\Temp/ipykernel_13816/2766045303.py:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe['depreciation'][i] = dataframe['depreciation'][i].replace('%','')
C:\Users\ksy94\AppData\Local\Temp/ipykernel_13816/2766045303.py:52: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe['mileage'][i] = dataframe['mileage'][i].replace('km','')
C:\Users\ksy94\AppData\Local\Temp/ipykernel_13816/2766045303.py:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe['forecast_max'][i] = dataframe['forecast_max'][i].replace('만원','')
C:\Users\ksy94\AppData\Local\Temp/ipykernel_13816/2766045303.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe['car_cc'][i] = dataframe['car_cc'][i].replace('cc','')
C:\Users\ksy94\AppData\Local\Temp/ipykernel_13816/2766045303.py:55: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe['use'][i] = get_months(use_months=dataframe['use'][i])
C:\Users\ksy94\AppData\Local\Temp/ipykernel_13816/2766045303.py:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe['year'][i] = change_year(car_year=dataframe['year'][i])
C:\Users\ksy94\AppData\Local\Temp/ipykernel_13816/2766045303.py:57: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe['sales_loca'][i] = check_sales_loca(area_text=dataframe['car_area'][i],loca_text=dataframe['sales_loca'][i])

In [8]:
def get_new_price(price,depreciation):
    new_price = int((price/(100 - depreciation)) * 100)
    
    return new_price

In [10]:
df2.insert(6,'new_price',0) # df에서 price columns앞에 위치시키겠습니다.(값은 0으로 채워서 int타입으로 만들어줍니다)
for i in range(len(df2)):
    df2['new_price'][i] = get_new_price(df2['price'][i], df2['depreciation'][i]) # for문을 이용해서 함수를 적용해줍니다.

df2.head()

C:\Users\ksy94\AppData\Local\Temp/ipykernel_13816/3098594301.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['new_price'][i] = get_new_price(df2['price'][i], df2['depreciation'][i]) # for문을 이용해서 함수를 적용해줍니다.

,car_url,car_area,car_no,car_brand,car_name,name_datailed,new_price,price,year,use,depreciation,mileage,fuel,forecast_min,forecast_max,car_type,car_cc,color,trans,loss,flood,usage,change,insurance,sales_corp,sales_loca,options
0,23004792,경기,77가4614,기아,그랜드카니발,GLX 11인승,2600,390,2009,152,85,196273,디젤,297,569,RV,2200,검정색,오토,없음,없음,없음,4회,사고없음,(주)스마트카,경기 수원시,[열선시트]
1,23004790,경기,14소0793,기아,스포티지 4세대,디젤 2.0 2WD 프레스티지,2576,1520,2016,72,41,92742,디젤,1355,1635,SUV,1995,파랑색,오토,없음,없음,없음,1회,사고있음,코리아모터스,경기 수원시,[스마트키/ 오토라이트/ 가죽시트/ 열선시트/ 사이드&커튼에어백/ 전동접이사이드미러...
2,23004771,대전,60소2024,기아,뉴오피러스,GH270 고급형,3222,290,2007,172,91,120850,가솔린,228,471,대형,2656,검정색,오토,없음,없음,없음,없음,사고있음,다이슈몰,대전 유성구,[내비게이션/ 오토라이트/ 주차감지센서/ 가죽시트/ 열선시트/ 레인선서와이퍼/ 전동...
3,23004769,부산,25주8722,기아,K5,가솔린 2.0 프레스티지,2027,750,2011,133,63,86670,가솔린,648,909,중형,0,은색,오토,없음,없음,없음,1회,사고없음,(주)엠제이모터스,부산 사하구,[내비게이션/ 스마트키/ 오토라이트/ 가죽시트/ 열선시트/ 사이드&커튼에어백/ 하이...
4,23004767,경기,185누3586,기아,올 뉴 모닝(JA),LPi 디럭스,1034,600,2018,49,42,67360,LPG,681,983,경차,0,흰색,오토,없음,없음,있음,1회,사고있음,하나모터스,경기 수원시,[사이드&커튼에어백/ 타이어공기압장치(TPMS)]

In [11]:
df2.info() # 모든 값의 형변환도 잘 되었는지 확인합니다.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24874 entries, 0 to 24873
Data columns (total 27 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   car_url        24874 non-null  int32
 1   car_area       24874 non-null  object
 2   car_no         24874 non-null  object
 3   car_brand      24874 non-null  object
 4   car_name       24874 non-null  object
 5   name_datailed  24874 non-null  object
 6   new_price      24874 non-null  int64
 7   price          24874 non-null  int32
 8   year           24874 non-null  object
 9   use            24874 non-null  int32
 10  depreciation   24874 non-null  int32
 11  mileage        24874 non-null  int32
 12  fuel           24874 non-null  object
 13  forecast_min   24874 non-null  int32
 14  forecast_max   24874 non-null  int32
 15  car_type       24874 non-null  object
 16  car_cc         24874 non-null  int32
 17  color          24874 non-null  object
 18  trans          24874 non-null  object
 19  loss           24874 non-null  object
 20  flood          24874 non-null  object
 21  usage          24874 non-null  object
 22  change         24874 non-null  object
 23  insurance      24874 non-null  object
 24  sales_corp     24874 non-null  object
 25  sales_loca     24874 non-null  object
 26  options        24874 non-null  object
dtypes: int32(8), int64(1), object(18)
memory usage: 4.4+ MB

In [12]:
def get_lat_lng(address, user_agent = 'South Korea'):
    
    try:
        geo_local = Nominatim(user_agent = user_agent)
        geo = geo_local.geocode(address)
        lat, lng = geo.latitude, geo.longitude
    
    except AttributeError as e:
        lat, lng = 37.60, 127.00 # 대체주소 위도, 경도
        print("AttributeError: ", e, "대체주소({lat},{lng})로 반환합니다")
    
    return lat, lng

In [13]:
df2.insert(26,'lat',0.0)
df2.insert(27,'lng',0.0)

In [14]:
loca_list = list(df2['sales_loca'].unique()) # loca_list에 주소 고유값들이 들어있는 list가 만들어졌습니다.

loca_dict = {}

for loca in tqdm(loca_list): # loca_list에서 loca를 하나씩 받아서
    
    lat,lng = get_lat_lng(address =loca) # 위도,경도를 구해주고
    
    loca_dict[f'{loca}'] = [lat,lng] # loca_dict{ key: loca , value : [위도, 경도] }를 추가해줍니다.

100%|████████████████████████████████████████████████████████████████████████████████| 141/141 [01:14<00:00,  1.88it/s]

In [15]:
for i,df2_loca in enumerate(tqdm(df2['sales_loca'])):
    
    df2['lat'][i] = loca_dict.get(df2_loca)[0]
    df2['lng'][i] = loca_dict.get(df2_loca)[1]

  0%|                                                                                        | 0/24874 [00:00<?, ?it/s]C:\Users\ksy94\AppData\Local\Temp/ipykernel_13816/3597564576.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['lat'][i] = loca_dict.get(df2_loca)[0]
C:\Users\ksy94\AppData\Local\Temp/ipykernel_13816/3597564576.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['lng'][i] = loca_dict.get(df2_loca)[1]
100%|██████████████████████████████████████████████████████████████████████████| 24874/24874 [00:23<00:00, 1077.08it/s]

In [16]:
df2.head() # 값을 확인하고 중간저장을 이용해줍니다.

,car_url,car_area,car_no,car_brand,car_name,name_datailed,new_price,price,year,use,depreciation,mileage,fuel,forecast_min,forecast_max,car_type,car_cc,color,trans,loss,flood,usage,change,insurance,sales_corp,sales_loca,lat,lng,options
0,23004792,경기,77가4614,기아,그랜드카니발,GLX 11인승,2600,390,2009,152,85,196273,디젤,297,569,RV,2200,검정색,오토,없음,없음,없음,4회,사고없음,(주)스마트카,경기 수원시,37.263332,127.028747,[열선시트]
1,23004790,경기,14소0793,기아,스포티지 4세대,디젤 2.0 2WD 프레스티지,2576,1520,2016,72,41,92742,디젤,1355,1635,SUV,1995,파랑색,오토,없음,없음,없음,1회,사고있음,코리아모터스,경기 수원시,37.263332,127.028747,[스마트키/ 오토라이트/ 가죽시트/ 열선시트/ 사이드&커튼에어백/ 전동접이사이드미러...
2,23004771,대전,60소2024,기아,뉴오피러스,GH270 고급형,3222,290,2007,172,91,120850,가솔린,228,471,대형,2656,검정색,오토,없음,없음,없음,없음,사고있음,다이슈몰,대전 유성구,36.362200,127.356300,[내비게이션/ 오토라이트/ 주차감지센서/ 가죽시트/ 열선시트/ 레인선서와이퍼/ 전동...
3,23004769,부산,25주8722,기아,K5,가솔린 2.0 프레스티지,2027,750,2011,133,63,86670,가솔린,648,909,중형,0,은색,오토,없음,없음,없음,1회,사고없음,(주)엠제이모터스,부산 사하구,35.104100,128.975100,[내비게이션/ 스마트키/ 오토라이트/ 가죽시트/ 열선시트/ 사이드&커튼에어백/ 하이...
4,23004767,경기,185누3586,기아,올 뉴 모닝(JA),LPi 디럭스,1034,600,2018,49,42,67360,LPG,681,983,경차,0,흰색,오토,없음,없음,있음,1회,사고있음,하나모터스,경기 수원시,37.263332,127.028747,[사이드&커튼에어백/ 타이어공기압장치(TPMS)]

In [17]:
df2.to_csv('preprocessed_kia_0527.csv',index=False) # index_False를 입력해주시면 저장할 때 index를 버려서 다음 pd.read_csv할때 unnamed 0 제거 안해줘도 됩니다.

In [18]:
df = pd.read_csv('preprocessed_kia_0527.csv')

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24874 entries, 0 to 24873
Data columns (total 29 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   car_url        24874 non-null  int64
 1   car_area       24874 non-null  object
 2   car_no         24874 non-null  object
 3   car_brand      24874 non-null  object
 4   car_name       24874 non-null  object
 5   name_datailed  24874 non-null  object
 6   new_price      24874 non-null  int64
 7   price          24874 non-null  int64
 8   year           24874 non-null  int64
 9   use            24874 non-null  int64
 10  depreciation   24874 non-null  int64
 11  mileage        24874 non-null  int64
 12  fuel           24874 non-null  object
 13  forecast_min   24874 non-null  int64
 14  forecast_max   24874 non-null  int64
 15  car_type       24874 non-null  object
 16  car_cc         24874 non-null  int64
 17  color          24874 non-null  object
 18  trans          24874 non-null  object
 19  loss           24874 non-null  object
 20  flood          24874 non-null  object
 21  usage          24874 non-null  object
 22  change         24874 non-null  object
 23  insurance      24874 non-null  object
 24  sales_corp     24874 non-null  object
 25  sales_loca     24874 non-null  object
 26  lat            24874 non-null  float64
 27  lng            24874 non-null  float64
 28  options        24874 non-null  object
dtypes: float64(2), int64(10), object(17)
memory usage: 5.5+ MB

In [20]:
for i,loss in enumerate(tqdm(df['loss'])):
    
    if loss == '없음':
        pass
    elif loss == '정보없음':
        pass
    else:
        df['loss'][i] = '있음'

  0%|                                                                                        | 0/24874 [00:00<?, ?it/s]C:\Users\ksy94\AppData\Local\Temp/ipykernel_13816/2698118586.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['loss'][i] = '있음'
100%|████████████████████████████████████████████████████████████████████████| 24874/24874 [00:00<00:00, 214563.45it/s]

In [21]:
for i,flood in enumerate(tqdm(df['flood'])):
    
    if flood == '없음':
        pass
    elif flood == '정보없음':
        pass
    else:
        df['flood'][i] = '있음'

  0%|                                                                                        | 0/24874 [00:00<?, ?it/s]C:\Users\ksy94\AppData\Local\Temp/ipykernel_13816/3081335292.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['flood'][i] = '있음'
100%|████████████████████████████████████████████████████████████████████████| 24874/24874 [00:00<00:00, 777780.31it/s]

In [22]:
df['usage'].value_counts()

없음    17983
있음     6891
Name: usage, dtype: int64

In [23]:
for i,change in enumerate(tqdm(df['change'])):
    
    if change == '없음':
        df['change'][i] = 0
    elif change == '정보없음':
        df['change'][i] = -1
    else:
        df['change'][i] = df['change'][i].replace('회','')

df = df.astype({'change':'int'})

  0%|                                                                                        | 0/24874 [00:00<?, ?it/s]C:\Users\ksy94\AppData\Local\Temp/ipykernel_13816/1630319148.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['change'][i] = df['change'][i].replace('회','')
C:\Users\ksy94\AppData\Local\Temp/ipykernel_13816/1630319148.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['change'][i] = 0
100%|██████████████████████████████████████████████████████████████████████████| 24874/24874 [00:15<00:00, 1642.04it/s]

In [24]:
df['change'].value_counts()

1     9054
2     4613
3     3728
0     2560
4     1922
5     1352
6      732
7      414
8      212
9      135
10      76
11      40
12      19
14       6
13       4
15       3
24       2
16       1
22       1
Name: change, dtype: int64

In [25]:
for i,insurance in enumerate(tqdm(df['insurance'])):
    
    if insurance == '사고있음':
        df['insurance'][i] = '있음'
        
    elif insurance == '사고없음':
        df['insurance'][i] = '없음'
        
    else :
        pass

  0%|                                                                                        | 0/24874 [00:00<?, ?it/s]C:\Users\ksy94\AppData\Local\Temp/ipykernel_13816/4192120424.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['insurance'][i] = '없음'
C:\Users\ksy94\AppData\Local\Temp/ipykernel_13816/4192120424.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['insurance'][i] = '있음'
100%|██████████████████████████████████████████████████████████████████████████| 24874/24874 [00:13<00:00, 1886.29it/s]

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24874 entries, 0 to 24873
Data columns (total 29 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   car_url        24874 non-null  int64
 1   car_area       24874 non-null  object
 2   car_no         24874 non-null  object
 3   car_brand      24874 non-null  object
 4   car_name       24874 non-null  object
 5   name_datailed  24874 non-null  object
 6   new_price      24874 non-null  int64
 7   price          24874 non-null  int64
 8   year           24874 non-null  int64
 9   use            24874 non-null  int64
 10  depreciation   24874 non-null  int64
 11  mileage        24874 non-null  int64
 12  fuel           24874 non-null  object
 13  forecast_min   24874 non-null  int64
 14  forecast_max   24874 non-null  int64
 15  car_type       24874 non-null  object
 16  car_cc         24874 non-null  int64
 17  color          24874 non-null  object
 18  trans          24874 non-null  object
 19  loss           24874 non-null  object
 20  flood          24874 non-null  object
 21  usage          24874 non-null  object
 22  change         24874 non-null  int32
 23  insurance      24874 non-null  object
 24  sales_corp     24874 non-null  object
 25  sales_loca     24874 non-null  object
 26  lat            24874 non-null  float64
 27  lng            24874 non-null  float64
 28  options        24874 non-null  object
dtypes: float64(2), int32(1), int64(10), object(16)
memory usage: 5.4+ MB

In [27]:
df['options_count'] = 0

# 문자열을 받아서 전처리 후 리스트로 변환해줍니다.
# 주의점 !!!: 능력이 부족하여, df의 options가 아무런 처리가 되어 있지 않은 상태의 str타입이어야 합니다
# for문 중간에 멈춰서 다시 돌리면, 앞서 변환되었던 df['option']의 값이 type:list라서 오류납니다.ㅎㅎㅎㅎ...;;

def options_to_word_list(option_text,stopwords = ['등록된','주요','옵션이','없습니다']):
    
    try:
        option_text = re.sub('[^ㄱ-ㅎ가-힣0-9\\s]','',option_text)
        word_list = option_text.split()
        word_list = [word for word in word_list if word not in stopwords]
    except:
        word_list = []
    
    return word_list

In [28]:
for i,option in enumerate(tqdm(df['options'])):
        df['options'][i] = options_to_word_list(option)
df.head() # [등록된/옵션이/없습니다.]는 []로 반환되고, 나머지는 리스트형태로 반환됩니다.

  0%|                                                                                        | 0/24874 [00:00<?, ?it/s]C:\Users\ksy94\AppData\Local\Temp/ipykernel_13816/2973288018.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['options'][i] = options_to_word_list(option)
100%|██████████████████████████████████████████████████████████████████████████| 24874/24874 [00:17<00:00, 1407.21it/s]

,car_url,car_area,car_no,car_brand,car_name,name_datailed,new_price,price,year,use,depreciation,mileage,fuel,forecast_min,forecast_max,car_type,car_cc,color,trans,loss,flood,usage,change,insurance,sales_corp,sales_loca,lat,lng,options,options_count
0,23004792,경기,77가4614,기아,그랜드카니발,GLX 11인승,2600,390,2009,152,85,196273,디젤,297,569,RV,2200,검정색,오토,없음,없음,없음,4,없음,(주)스마트카,경기 수원시,37.263332,127.028747,[열선시트],0
1,23004790,경기,14소0793,기아,스포티지 4세대,디젤 2.0 2WD 프레스티지,2576,1520,2016,72,41,92742,디젤,1355,1635,SUV,1995,파랑색,오토,없음,없음,없음,1,있음,코리아모터스,경기 수원시,37.263332,127.028747,"[스마트키, 오토라이트, 가죽시트, 열선시트, 사이드커튼에어백, 전동접이사이드미러,...",0
2,23004771,대전,60소2024,기아,뉴오피러스,GH270 고급형,3222,290,2007,172,91,120850,가솔린,228,471,대형,2656,검정색,오토,없음,없음,없음,0,있음,다이슈몰,대전 유성구,36.362200,127.356300,"[내비게이션, 오토라이트, 주차감지센서, 가죽시트, 열선시트, 레인선서와이퍼, 전동...",0
3,23004769,부산,25주8722,기아,K5,가솔린 2.0 프레스티지,2027,750,2011,133,63,86670,가솔린,648,909,중형,0,은색,오토,없음,없음,없음,1,없음,(주)엠제이모터스,부산 사하구,35.104100,128.975100,"[내비게이션, 스마트키, 오토라이트, 가죽시트, 열선시트, 사이드커튼에어백, 하이패...",0
4,23004767,경기,185누3586,기아,올 뉴 모닝(JA),LPi 디럭스,1034,600,2018,49,42,67360,LPG,681,983,경차,0,흰색,오토,없음,없음,있음,1,있음,하나모터스,경기 수원시,37.263332,127.028747,"[사이드커튼에어백, 타이어공기압장치]",0

In [29]:
for i,options in enumerate(tqdm(df['options'])):
    df['options_count'][i] = len(options)

df.head()

  0%|                                                                                        | 0/24874 [00:00<?, ?it/s]C:\Users\ksy94\AppData\Local\Temp/ipykernel_13816/2514695601.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['options_count'][i] = len(options)
100%|██████████████████████████████████████████████████████████████████████████| 24874/24874 [00:11<00:00, 2135.70it/s]

,car_url,car_area,car_no,car_brand,car_name,name_datailed,new_price,price,year,use,depreciation,mileage,fuel,forecast_min,forecast_max,car_type,car_cc,color,trans,loss,flood,usage,change,insurance,sales_corp,sales_loca,lat,lng,options,options_count
0,23004792,경기,77가4614,기아,그랜드카니발,GLX 11인승,2600,390,2009,152,85,196273,디젤,297,569,RV,2200,검정색,오토,없음,없음,없음,4,없음,(주)스마트카,경기 수원시,37.263332,127.028747,[열선시트],1
1,23004790,경기,14소0793,기아,스포티지 4세대,디젤 2.0 2WD 프레스티지,2576,1520,2016,72,41,92742,디젤,1355,1635,SUV,1995,파랑색,오토,없음,없음,없음,1,있음,코리아모터스,경기 수원시,37.263332,127.028747,"[스마트키, 오토라이트, 가죽시트, 열선시트, 사이드커튼에어백, 전동접이사이드미러,...",8
2,23004771,대전,60소2024,기아,뉴오피러스,GH270 고급형,3222,290,2007,172,91,120850,가솔린,228,471,대형,2656,검정색,오토,없음,없음,없음,0,있음,다이슈몰,대전 유성구,36.362200,127.356300,"[내비게이션, 오토라이트, 주차감지센서, 가죽시트, 열선시트, 레인선서와이퍼, 전동...",8
3,23004769,부산,25주8722,기아,K5,가솔린 2.0 프레스티지,2027,750,2011,133,63,86670,가솔린,648,909,중형,0,은색,오토,없음,없음,없음,1,없음,(주)엠제이모터스,부산 사하구,35.104100,128.975100,"[내비게이션, 스마트키, 오토라이트, 가죽시트, 열선시트, 사이드커튼에어백, 하이패...",8
4,23004767,경기,185누3586,기아,올 뉴 모닝(JA),LPi 디럭스,1034,600,2018,49,42,67360,LPG,681,983,경차,0,흰색,오토,없음,없음,있음,1,있음,하나모터스,경기 수원시,37.263332,127.028747,"[사이드커튼에어백, 타이어공기압장치]",2

In [30]:
df.to_csv('preprocessed_kia_0527.csv',index=False) # index_False를 입력해주시면 저장할 때 index를 버려서 다음 pd.read_csv할때 unnamed 0 제거 안해줘도 됩니다.

In [31]:
df = pd.read_csv('preprocessed_kia_0527.csv')

In [32]:
df.head()

,car_url,car_area,car_no,car_brand,car_name,name_datailed,new_price,price,year,use,depreciation,mileage,fuel,forecast_min,forecast_max,car_type,car_cc,color,trans,loss,flood,usage,change,insurance,sales_corp,sales_loca,lat,lng,options,options_count
0,23004792,경기,77가4614,기아,그랜드카니발,GLX 11인승,2600,390,2009,152,85,196273,디젤,297,569,RV,2200,검정색,오토,없음,없음,없음,4,없음,(주)스마트카,경기 수원시,37.263332,127.028747,['열선시트'],1
1,23004790,경기,14소0793,기아,스포티지 4세대,디젤 2.0 2WD 프레스티지,2576,1520,2016,72,41,92742,디젤,1355,1635,SUV,1995,파랑색,오토,없음,없음,없음,1,있음,코리아모터스,경기 수원시,37.263332,127.028747,"['스마트키', '오토라이트', '가죽시트', '열선시트', '사이드커튼에어백', ...",8
2,23004771,대전,60소2024,기아,뉴오피러스,GH270 고급형,3222,290,2007,172,91,120850,가솔린,228,471,대형,2656,검정색,오토,없음,없음,없음,0,있음,다이슈몰,대전 유성구,36.362200,127.356300,"['내비게이션', '오토라이트', '주차감지센서', '가죽시트', '열선시트', '...",8
3,23004769,부산,25주8722,기아,K5,가솔린 2.0 프레스티지,2027,750,2011,133,63,86670,가솔린,648,909,중형,0,은색,오토,없음,없음,없음,1,없음,(주)엠제이모터스,부산 사하구,35.104100,128.975100,"['내비게이션', '스마트키', '오토라이트', '가죽시트', '열선시트', '사이...",8
4,23004767,경기,185누3586,기아,올 뉴 모닝(JA),LPi 디럭스,1034,600,2018,49,42,67360,LPG,681,983,경차,0,흰색,오토,없음,없음,있음,1,있음,하나모터스,경기 수원시,37.263332,127.028747,"['사이드커튼에어백', '타이어공기압장치']",2

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24874 entries, 0 to 24873
Data columns (total 30 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   car_url        24874 non-null  int64
 1   car_area       24874 non-null  object
 2   car_no         24874 non-null  object
 3   car_brand      24874 non-null  object
 4   car_name       24874 non-null  object
 5   name_datailed  24874 non-null  object
 6   new_price      24874 non-null  int64
 7   price          24874 non-null  int64
 8   year           24874 non-null  int64
 9   use            24874 non-null  int64
 10  depreciation   24874 non-null  int64
 11  mileage        24874 non-null  int64
 12  fuel           24874 non-null  object
 13  forecast_min   24874 non-null  int64
 14  forecast_max   24874 non-null  int64
 15  car_type       24874 non-null  object
 16  car_cc         24874 non-null  int64
 17  color          24874 non-null  object
 18  trans          24874 non-null  object
 19  loss           24874 non-null  object
 20  flood          24874 non-null  object
 21  usage          24874 non-null  object
 22  change         24874 non-null  int64
 23  insurance      24874 non-null  object
 24  sales_corp     24874 non-null  object
 25  sales_loca     24874 non-null  object
 26  lat            24874 non-null  float64
 27  lng            24874 non-null  float64
 28  options        24874 non-null  object
 29  options_count  24874 non-null  int64
dtypes: float64(2), int64(12), object(16)
memory usage: 5.7+ MB

# 국산, 수입을 구분하자

In [3]:
df = pd.read_csv('preprocessed_total_0529.csv')

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90804 entries, 0 to 90803
Data columns (total 31 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   car_url        90804 non-null  int64
 1   car_area       90804 non-null  object
 2   car_no         90804 non-null  object
 3   car_brand      90804 non-null  object
 4   nation         90804 non-null  object
 5   car_name       90804 non-null  object
 6   name_datailed  90804 non-null  object
 7   new_price      90804 non-null  int64
 8   price          90804 non-null  int64
 9   year           90804 non-null  int64
 10  use            90804 non-null  int64
 11  depreciation   90804 non-null  int64
 12  mileage        90804 non-null  int64
 13  fuel           90804 non-null  object
 14  forecast_min   90804 non-null  int64
 15  forecast_max   90804 non-null  int64
 16  car_type       90804 non-null  object
 17  car_cc         90804 non-null  int64
 18  color          90804 non-null  object
 19  trans          90804 non-null  object
 20  loss           90804 non-null  object
 21  flood          90804 non-null  object
 22  usage          90804 non-null  object
 23  change         90804 non-null  int64
 24  insurance      90804 non-null  object
 25  sales_corp     90804 non-null  object
 26  sales_loca     90804 non-null  object
 27  lat            90804 non-null  float64
 28  lng            90804 non-null  float64
 29  options        90804 non-null  object
 30  options_count  90804 non-null  int64
dtypes: float64(2), int64(12), object(17)
memory usage: 21.5+ MB

In [5]:
df.insert(4,'nation','')

In [13]:
df.car_brand.unique()

array(['한국GM', '르노삼성', '르노코리아', '쌍용', '폭스바겐', '닛산', '지프', '미니', '푸조',
       '도요타', '마세라티', '혼다', '캐딜락', '렉서스', '랜드로버', '포르쉐', '포드', '재규어',
       '인피니티', '볼보', '링컨', '크라이슬러', '쉐보레', '시트로엥', '벤틀리', '피아트', '애스턴마틴',
       '닷지', '페라리', '테슬라', '제네시스', 'BMW', '다이하쓰', '로버', '사브', '벤츠', 'MAN',
       '아우디', '허머', '스즈키', '롤스로이스', '맥라렌', '어큐라', '스바루', '동풍자동차', '스마트',
       '미쯔비시', '람보르기니', 'GMC', '마쯔다', '중한자동차', '이베코', '마이바흐', '포톤',
       '선롱버스', '현대', '기아'], dtype=object)

In [6]:
domestic_brand = ['현대','기아','한국GM','쌍용','르노삼성', '르노코리아','제네시스']

In [15]:
for i,car_brand in enumerate(tqdm(df['car_brand'])):
    
    if car_brand in domestic_brand:
        df['nation'][i] = '국산'
        
    else:
        df['nation'][i] = '수입'

  0%|                                                                                        | 0/90804 [00:00<?, ?it/s]C:\Users\ksy94\AppData\Local\Temp/ipykernel_20472/3552814436.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['nation'][i] = '국산'
 12%|█████████                                                                  | 10900/90804 [00:14<01:34, 845.04it/s]C:\Users\ksy94\AppData\Local\Temp/ipykernel_20472/3552814436.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['nation'][i] = '수입'
100%|███████████████████████████████████████████████████████████████████████████| 90804/90804 [01:47<00:00, 845.32it/s]

In [16]:
len(df[df['nation']=='국산'])

68206

In [17]:
len(df[df['nation']!='국산'])

22598

In [19]:
df.to_csv('preprocessed_total_0529.csv',index=False)