In [1]:
from pyecharts import Pie

attr = ['A','B','C','D','E','F']
v1 = [10, 20, 30, 40, 50, 60]
v2 = [38, 28, 58, 48, 78, 68]
pie = Pie("pie chart", title_pos="center", width=600)
pie.add("A", attr, v1, center=[25, 50], is_random=True, radius=[30, 75], rosetype='radius')
pie.add("B", attr, v2, center=[75, 50], is_randome=True, radius=[30, 75], rosetype='area', is_legend_show=False,
       is_label_show=True)
pie

ModuleNotFoundError: No module named 'pyecharts'

In [26]:
import pandas as pd
import random

df = pd.DataFrame({'a':['1','2','3','4','5'],
'b':['가','나','다','라','마']})

list1 = df.a.tolist()

print(list1)
random.shuffle(list1)
print(list1)
list1 = list1[:1]
print(list1)

list2 = [x for i in list1 for x in df.loc[df['a'] == i].b]
print(list2)

['1', '2', '3', '4', '5']
['4', '1', '5', '2', '3']
['4']
['라']

In [1]:
import pandas as pd
df = pd.read_csv('C:/Users/USER/TIL/중고차 시세 예측/preprocessed_total_0529.csv', encoding='ansi')
df.head()

,car_url,car_area,car_no,car_brand,car_name,name_datailed,new_price,price,year,use,...,flood,usage,change,insurance,sales_corp,sales_loca,lat,lng,options,options_count
0,22274652,경기,29너6142,한국GM,쉐보레 올란도,LPG LS 일반형,2122,849,2013,103,...,없음,없음,1,있음,주식회사 노빌리티 경기지점,경기 수원시,37.263332,127.028747,[],0
1,22274154,광주,156서1980,한국GM,더 뉴 트랙스,1.6 디젤 LT 기본형,1986,1450,2018,52,...,없음,있음,2,없음,주식회사 즐거운모터스,광주 서구,35.152140,126.890056,"['주차감지센서', '가죽시트', '열선시트', '사이드커튼에어백', '전동접이사이...",7
2,22274071,경기,01서3666,한국GM,더 뉴 스파크,LT 기본형,1423,655,2017,57,...,없음,없음,1,없음,창대모터스,경기 수원시,37.263332,127.028747,"['스마트키', '가죽시트', '알루미늄휠']",3
3,22269730,광주,196버2246,한국GM,올 뉴 크루즈,1.4 터보 LT 디럭스,1264,999,2017,48,...,없음,있음,1,있음,(주)파랑새모터스,광주광역시 서구,35.152140,126.890056,"['오토라이트', '주차감지센서', '가죽시트', '열선시트', '사이드커튼에어백'...",8
4,22269296,부산,19저3500,한국GM,알페온,CL240 프리미엄,3411,580,2011,131,...,없음,없음,1,있음,청산자동차상사,부산광역시 사상구,35.152100,128.991100,"['오토라이트', '가죽시트', '열선시트', '사이드커튼에어백', '레인선서와이퍼...",8

In [5]:
new_data = {}

for col in df.columns:
    new_data[f"{col}"] = '선택해주세요'

idx = 0
 
temp1 = df[df.index < idx]
temp2 = df[df.index >= idx]
df = temp1.append(new_data,ignore_index=True).append(temp2, ignore_index=True)
df.head(1)

C:\Users\USER\AppData\Local\Temp\ipykernel_17916\2118769904.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = temp1.append(new_data,ignore_index=True).append(temp2, ignore_index=True)
C:\Users\USER\AppData\Local\Temp\ipykernel_17916\2118769904.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = temp1.append(new_data,ignore_index=True).append(temp2, ignore_index=True)

,car_url,car_area,car_no,car_brand,car_name,name_datailed,new_price,price,year,use,...,flood,usage,change,insurance,sales_corp,sales_loca,lat,lng,options,options_count
0,선택해주세요,선택해주세요,선택해주세요,선택해주세요,선택해주세요,선택해주세요,선택해주세요,선택해주세요,선택해주세요,선택해주세요,...,선택해주세요,선택해주세요,선택해주세요,선택해주세요,선택해주세요,선택해주세요,선택해주세요,선택해주세요,선택해주세요,선택해주세요

In [71]:
from collections import defaultdict
brand = defaultdict(set)
for b in df.values[5080:5100]:
    brand[f'{b[3]}'].add(f'{b[4]}')
print(brand)

defaultdict(<class 'set'>, {'BMW': {'X5 (G05)', 'X5 (F15)', '7시리즈', '4시리즈 (F32)', '7시리즈 (G11)', '그란투리스모', '뉴5시리즈', '뉴3시리즈'}, 'GMC': {'시에라', '사바나밴'}, 'MAN': {'트럭'}, '기아': {'K3', '레이', '더 뉴 스포티지 R', '뉴모닝'}})

In [90]:
a = ['BMW'],['기아']
print(f"{a[1]}")

['기아']

In [91]:
brand = dict(brand)
brand['기아', 'BMW']

KeyError: ('기아', 'BMW')

In [48]:
for b in df.values[5080:5100]:
    print(b[3], b[4])

BMW 뉴5시리즈
BMW X5 (F15)
BMW X5 (G05)
BMW 그란투리스모
BMW 7시리즈 (G11)
BMW 7시리즈
BMW 뉴3시리즈
BMW 뉴3시리즈
BMW 뉴3시리즈
BMW 4시리즈 (F32)
GMC 사바나밴
GMC 시에라
GMC 사바나밴
GMC 사바나밴
GMC 사바나밴
MAN 트럭
기아 레이
기아 더 뉴 스포티지 R
기아 K3
기아 뉴모닝