In [17]:
!pip install seaborn

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: seaborn in /usr/local/lib/python3.7/dist-packages (0.11.2)
Requirement already satisfied: matplotlib>=2.2 in /usr/local/lib/python3.7/dist-packages (from seaborn) (3.2.2)
Requirement already satisfied: scipy>=1.0 in /usr/local/lib/python3.7/dist-packages (from seaborn) (1.4.1)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from seaborn) (1.21.6)
Requirement already satisfied: pandas>=0.23 in /usr/local/lib/python3.7/dist-packages (from seaborn) (1.3.5)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=2.2->seaborn) (1.4.2)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=2.2->seaborn) (2.8.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=2.2->seaborn) (3.0.9)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=2.2->seaborn) (0.11.0)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib>=2.2->seaborn) (4.2.0)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->seaborn) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib>=2.2->seaborn) (1.15.0)

In [18]:
import pandas as pd
import numpy as np

## 차량 정보 데이터 - 데이터 확인 및 결측치 제거

- car_url: KB차차차 중고차 구분 코드 (f'https://www.kbchachacha.com/public/car/detail.kbc?carSeq={car_url}'로 접근가능)
- car_area: 자동차 번호판 등록지
- car_no: 자동차 번호
- car_brand: 브랜드명
- car_name: 차량 모델명
- name_detailed: 옵션명
- price: 중고차 가격	
- year: 중고차 연식	
- use: 새차사고 사용기간
- depreciation: 감가율
- mileage: 중고차 주행거리
- fuel: 연료타입
- forecast_min: KB차차차 AI 예측 최소가
- forecase_max: KB차차차 AI 예측 최대가
- car_type: 차량크기
- car_cc: 배기량
- color: 차량색상
- trans: 변속기
- loss: 전손이력(전부 손해)
- flood: 침수이력	
- usage: 용도이력	
- change: 사용자변경횟수	
- insurance: 보험사고이력	
- sales_corp: 판매업체	
- sales_loca: 판매업체 위치	
- option: 차량옵션

In [19]:
car_information = pd.read_csv("preprocessed_total_0529.csv")
car_information

,car_url,car_area,car_no,car_brand,car_name,name_datailed,new_price,price,year,use,...,flood,usage,change,insurance,sales_corp,sales_loca,lat,lng,options,options_count
0,22274652,경기,29너6142,한국GM,쉐보레 올란도,LPG LS 일반형,2122,849,2013,103,...,없음,없음,1,있음,주식회사 노빌리티 경기지점,경기 수원시,37.263332,127.028747,[],0
1,22274154,광주,156서1980,한국GM,더 뉴 트랙스,1.6 디젤 LT 기본형,1986,1450,2018,52,...,없음,있음,2,없음,주식회사 즐거운모터스,광주 서구,35.152140,126.890056,"['주차감지센서', '가죽시트', '열선시트', '사이드커튼에어백', '전동접이사이...",7
2,22274071,경기,01서3666,한국GM,더 뉴 스파크,LT 기본형,1423,655,2017,57,...,없음,없음,1,없음,창대모터스,경기 수원시,37.263332,127.028747,"['스마트키', '가죽시트', '알루미늄휠']",3
3,22269730,광주,196버2246,한국GM,올 뉴 크루즈,1.4 터보 LT 디럭스,1264,999,2017,48,...,없음,있음,1,있음,(주)파랑새모터스,광주광역시 서구,35.152140,126.890056,"['오토라이트', '주차감지센서', '가죽시트', '열선시트', '사이드커튼에어백'...",8
4,22269296,부산,19저3500,한국GM,알페온,CL240 프리미엄,3411,580,2011,131,...,없음,없음,1,있음,청산자동차상사,부산광역시 사상구,35.152100,128.991100,"['오토라이트', '가죽시트', '열선시트', '사이드커튼에어백', '레인선서와이퍼...",8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90799,11132685,경기,70거3453,기아,그랜드카니발,GLX 11인승,2352,400,2006,188,...,없음,없음,7,있음,MK모터스,경기 용인시,37.240574,127.178557,"['썬루프', '내비게이션', '오토라이트', '주차감지센서', '가죽시트', '열...",8
90800,11122172,경기,07가0773,기아,K5,2.0 LPI 디럭스,2314,1250,2011,141,...,없음,없음,3,있음,제일자동차,경기도 평택시,36.992497,127.112717,"['썬루프', '내비게이션', '스마트키', '가죽시트', '열선시트', '전동접이...",7
90801,11120378,광주,81저9363,기아,봉고3,1톤 초장축 더블캡 CRDi DLX DLX,1394,530,2010,143,...,없음,없음,2,없음,스타모터스,광주 서구,35.152140,126.890056,[],0
90802,10836392,경기,46모9690,기아,모하비,4WD KV300 최고급형,4062,1950,2011,134,...,없음,없음,2,없음,MK모터스,경기 용인시,37.240574,127.178557,"['썬루프', '내비게이션', '스마트키', '오토라이트', '주차감지센서', '가...",8
90803,10836376,경기,74거3826,기아,그랜드카니발,GLX 고급형,2437,390,2007,180,...,없음,없음,5,있음,MK모터스,경기 용인시,37.240574,127.178557,"['내비게이션', '오토라이트', '주차감지센서', '가죽시트', '열선시트', '...",7

In [20]:
car_information.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90804 entries, 0 to 90803
Data columns (total 30 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   car_url        90804 non-null  int64
 1   car_area       90804 non-null  object
 2   car_no         90804 non-null  object
 3   car_brand      90804 non-null  object
 4   car_name       90804 non-null  object
 5   name_datailed  90804 non-null  object
 6   new_price      90804 non-null  int64
 7   price          90804 non-null  int64
 8   year           90804 non-null  int64
 9   use            90804 non-null  int64
 10  depreciation   90804 non-null  int64
 11  mileage        90804 non-null  int64
 12  fuel           90804 non-null  object
 13  forecast_min   90804 non-null  int64
 14  forecast_max   90804 non-null  int64
 15  car_type       90804 non-null  object
 16  car_cc         90804 non-null  int64
 17  color          90804 non-null  object
 18  trans          90804 non-null  object
 19  loss           90804 non-null  object
 20  flood          90804 non-null  object
 21  usage          90804 non-null  object
 22  change         90804 non-null  int64
 23  insurance      90804 non-null  object
 24  sales_corp     90804 non-null  object
 25  sales_loca     90804 non-null  object
 26  lat            90804 non-null  float64
 27  lng            90804 non-null  float64
 28  options        90804 non-null  object
 29  options_count  90804 non-null  int64
dtypes: float64(2), int64(12), object(16)
memory usage: 20.8+ MB

In [21]:
car_information.isnull().sum()

car_url          0
car_area         0
car_no           0
car_brand        0
car_name         0
name_datailed    0
new_price        0
price            0
year             0
use              0
depreciation     0
mileage          0
fuel             0
forecast_min     0
forecast_max     0
car_type         0
car_cc           0
color            0
trans            0
loss             0
flood            0
usage            0
change           0
insurance        0
sales_corp       0
sales_loca       0
lat              0
lng              0
options          0
options_count    0
dtype: int64

In [22]:
car_information = car_information.dropna()
car_information

,car_url,car_area,car_no,car_brand,car_name,name_datailed,new_price,price,year,use,...,flood,usage,change,insurance,sales_corp,sales_loca,lat,lng,options,options_count
0,22274652,경기,29너6142,한국GM,쉐보레 올란도,LPG LS 일반형,2122,849,2013,103,...,없음,없음,1,있음,주식회사 노빌리티 경기지점,경기 수원시,37.263332,127.028747,[],0
1,22274154,광주,156서1980,한국GM,더 뉴 트랙스,1.6 디젤 LT 기본형,1986,1450,2018,52,...,없음,있음,2,없음,주식회사 즐거운모터스,광주 서구,35.152140,126.890056,"['주차감지센서', '가죽시트', '열선시트', '사이드커튼에어백', '전동접이사이...",7
2,22274071,경기,01서3666,한국GM,더 뉴 스파크,LT 기본형,1423,655,2017,57,...,없음,없음,1,없음,창대모터스,경기 수원시,37.263332,127.028747,"['스마트키', '가죽시트', '알루미늄휠']",3
3,22269730,광주,196버2246,한국GM,올 뉴 크루즈,1.4 터보 LT 디럭스,1264,999,2017,48,...,없음,있음,1,있음,(주)파랑새모터스,광주광역시 서구,35.152140,126.890056,"['오토라이트', '주차감지센서', '가죽시트', '열선시트', '사이드커튼에어백'...",8
4,22269296,부산,19저3500,한국GM,알페온,CL240 프리미엄,3411,580,2011,131,...,없음,없음,1,있음,청산자동차상사,부산광역시 사상구,35.152100,128.991100,"['오토라이트', '가죽시트', '열선시트', '사이드커튼에어백', '레인선서와이퍼...",8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90799,11132685,경기,70거3453,기아,그랜드카니발,GLX 11인승,2352,400,2006,188,...,없음,없음,7,있음,MK모터스,경기 용인시,37.240574,127.178557,"['썬루프', '내비게이션', '오토라이트', '주차감지센서', '가죽시트', '열...",8
90800,11122172,경기,07가0773,기아,K5,2.0 LPI 디럭스,2314,1250,2011,141,...,없음,없음,3,있음,제일자동차,경기도 평택시,36.992497,127.112717,"['썬루프', '내비게이션', '스마트키', '가죽시트', '열선시트', '전동접이...",7
90801,11120378,광주,81저9363,기아,봉고3,1톤 초장축 더블캡 CRDi DLX DLX,1394,530,2010,143,...,없음,없음,2,없음,스타모터스,광주 서구,35.152140,126.890056,[],0
90802,10836392,경기,46모9690,기아,모하비,4WD KV300 최고급형,4062,1950,2011,134,...,없음,없음,2,없음,MK모터스,경기 용인시,37.240574,127.178557,"['썬루프', '내비게이션', '스마트키', '오토라이트', '주차감지센서', '가...",8
90803,10836376,경기,74거3826,기아,그랜드카니발,GLX 고급형,2437,390,2007,180,...,없음,없음,5,있음,MK모터스,경기 용인시,37.240574,127.178557,"['내비게이션', '오토라이트', '주차감지센서', '가죽시트', '열선시트', '...",7

## model_col 만들기(유튜브 댓글에 맞춰서)

In [23]:
car_information['medel_col'] = ''

In [24]:
sonata = car_information[car_information['car_name'].str.contains('쏘나타')&['소나타']]
sonata['model_col'] = '쏘나타'

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [25]:
car_information

,car_url,car_area,car_no,car_brand,car_name,name_datailed,new_price,price,year,use,...,usage,change,insurance,sales_corp,sales_loca,lat,lng,options,options_count,medel_col
0,22274652,경기,29너6142,한국GM,쉐보레 올란도,LPG LS 일반형,2122,849,2013,103,...,없음,1,있음,주식회사 노빌리티 경기지점,경기 수원시,37.263332,127.028747,[],0,
1,22274154,광주,156서1980,한국GM,더 뉴 트랙스,1.6 디젤 LT 기본형,1986,1450,2018,52,...,있음,2,없음,주식회사 즐거운모터스,광주 서구,35.152140,126.890056,"['주차감지센서', '가죽시트', '열선시트', '사이드커튼에어백', '전동접이사이...",7,
2,22274071,경기,01서3666,한국GM,더 뉴 스파크,LT 기본형,1423,655,2017,57,...,없음,1,없음,창대모터스,경기 수원시,37.263332,127.028747,"['스마트키', '가죽시트', '알루미늄휠']",3,
3,22269730,광주,196버2246,한국GM,올 뉴 크루즈,1.4 터보 LT 디럭스,1264,999,2017,48,...,있음,1,있음,(주)파랑새모터스,광주광역시 서구,35.152140,126.890056,"['오토라이트', '주차감지센서', '가죽시트', '열선시트', '사이드커튼에어백'...",8,
4,22269296,부산,19저3500,한국GM,알페온,CL240 프리미엄,3411,580,2011,131,...,없음,1,있음,청산자동차상사,부산광역시 사상구,35.152100,128.991100,"['오토라이트', '가죽시트', '열선시트', '사이드커튼에어백', '레인선서와이퍼...",8,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90799,11132685,경기,70거3453,기아,그랜드카니발,GLX 11인승,2352,400,2006,188,...,없음,7,있음,MK모터스,경기 용인시,37.240574,127.178557,"['썬루프', '내비게이션', '오토라이트', '주차감지센서', '가죽시트', '열...",8,
90800,11122172,경기,07가0773,기아,K5,2.0 LPI 디럭스,2314,1250,2011,141,...,없음,3,있음,제일자동차,경기도 평택시,36.992497,127.112717,"['썬루프', '내비게이션', '스마트키', '가죽시트', '열선시트', '전동접이...",7,
90801,11120378,광주,81저9363,기아,봉고3,1톤 초장축 더블캡 CRDi DLX DLX,1394,530,2010,143,...,없음,2,없음,스타모터스,광주 서구,35.152140,126.890056,[],0,
90802,10836392,경기,46모9690,기아,모하비,4WD KV300 최고급형,4062,1950,2011,134,...,없음,2,없음,MK모터스,경기 용인시,37.240574,127.178557,"['썬루프', '내비게이션', '스마트키', '오토라이트', '주차감지센서', '가...",8,
90803,10836376,경기,74거3826,기아,그랜드카니발,GLX 고급형,2437,390,2007,180,...,없음,5,있음,MK모터스,경기 용인시,37.240574,127.178557,"['내비게이션', '오토라이트', '주차감지센서', '가죽시트', '열선시트', '...",7,

### 중복값 제거

In [26]:
# 열을 지정하여 중복값 제거
car_information = car_information.drop_duplicates(['car_no'])

In [27]:
car_information.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 90804 entries, 0 to 90803
Data columns (total 31 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   car_url        90804 non-null  int64
 1   car_area       90804 non-null  object
 2   car_no         90804 non-null  object
 3   car_brand      90804 non-null  object
 4   car_name       90804 non-null  object
 5   name_datailed  90804 non-null  object
 6   new_price      90804 non-null  int64
 7   price          90804 non-null  int64
 8   year           90804 non-null  int64
 9   use            90804 non-null  int64
 10  depreciation   90804 non-null  int64
 11  mileage        90804 non-null  int64
 12  fuel           90804 non-null  object
 13  forecast_min   90804 non-null  int64
 14  forecast_max   90804 non-null  int64
 15  car_type       90804 non-null  object
 16  car_cc         90804 non-null  int64
 17  color          90804 non-null  object
 18  trans          90804 non-null  object
 19  loss           90804 non-null  object
 20  flood          90804 non-null  object
 21  usage          90804 non-null  object
 22  change         90804 non-null  int64
 23  insurance      90804 non-null  object
 24  sales_corp     90804 non-null  object
 25  sales_loca     90804 non-null  object
 26  lat            90804 non-null  float64
 27  lng            90804 non-null  float64
 28  options        90804 non-null  object
 29  options_count  90804 non-null  int64
 30  medel_col      90804 non-null  object
dtypes: float64(2), int64(12), object(17)
memory usage: 22.2+ MB

### 가격 숫자만 남기기

In [28]:
car_information['price'] = car_information['price'].str[:-2]

AttributeError: ignored

In [ ]:
car_information.info()

In [ ]:
# df5 = df4.astype(float)

car_information['price'] = car_information['price'].astype(int)

## 데이터 시각화

### 브랜드별 가격 그래프

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# 차량별 갯수
brand = car_information['car_brand'].value_counts()
brand
# print('차량별 :\n', car_information['car_brand'].value_counts())

In [ ]:
# 없어도 될 것 같음
car_brand_price_df = car_information[['car_brand','price']]
car_brand_price_df

In [ ]:
plt.rc("font", family = 'AppleGothic')
plt.figure(figsize = (15,30))

sns.boxplot(x = 'price', y = 'car_brand', data=car_information)

### 모델별 가격 그래프

In [ ]:
# 차량 모델별 갯수

# 차량별 갯수
model = car_information['car_name'].value_counts()
model
# print('차량 모델별 :\n', car_information['car_name'].value_counts())

In [ ]:
plt.rc("font", family = 'AppleGothic')
plt.figure(figsize = (20,120))

sns.boxplot(x = 'price', y = 'car_name', data=car_information)

In [ ]:
# 매물이 두개 이하 나와있는 것은 빼기
car_model_df = car_information['car_name'].value_counts().loc[lambda x: x > 3]
car_model_df

In [ ]:
plt.rc("font", family = 'AppleGothic')
plt.figure(figsize = (20,60))

sns.boxplot(x = 'price', y = car_model_df, data=car_information)

### 성능조회, 보험이력과 가격의 상관관계

In [ ]:
from sklearn import preprocessing

In [ ]:
# 벤츠 E클래스 (W213) 행만 뽑기
benz_eclass = car_information[car_information['car_name'] == '벤츠 E클래스 (W213)']

In [ ]:
benz_eclass.shape

In [ ]:
# 원-핫 인코딩

def encode_features(dataDF):
    features  = ['loss','flood','usage','change','insurance']
    for feature in features:
        le = preprocessing.LabelEncoder()
        le = le.fit(dataDF[feature])
        dataDF[feature] = le.transform(dataDF[feature])
        
    return dataDF
    
car_information = encode_features(benz_eclass)
car_information

In [ ]:
plt.rc("font", family = 'AppleGothic')
plt.subplots(figsize=(10,8))
sns.heatmap(benz_eclass[['price','loss','flood', 'usage', 'change', 'insurance']].corr(),
           annot=True)

In [ ]:
# 지역별(업체) 차량 판매 갯수
print('판매 위치 별 :\n', car_information['sales_loca'].value_counts())

In [ ]:
# 사고있음, 없음 -> 원-핫 인코딩 하는 것 
from sklearn import preprocessing

def encode_features(dataDF):
    features  = ['loss','flood','usage','change','insurance']
    for feature in features:
        le = preprocessing.LabelEncoder()
        le = le.fit(dataDF[feature])
        dataDF[feature] = le.transform(dataDF[feature])
        
    return dataDF
    
car_information = encode_features(car_information)
car_information