In [7]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
from tqdm import tqdm
from time import sleep
from selenium import webdriver
from selenium.webdriver.common.keys import Keys

In [2]:
df = pd.read_csv('preprocessed_kb.csv')
df.head(20)

,car_url,car_area,car_no,car_brand,car_name,name_datailed,price,year,use,depreciation,...,car_cc,color,trans,loss,flood,usage,change,insurance,sales_corp,sales_loca
0,22274652,경기,29너6142,한국GM,쉐보레 올란도,LPG LS 일반형,849,2013,103,60,...,0,인기색상,오토,없음,없음,없음,1회,사고있음,주식회사 노빌리티 경기지점,경기 수원시
1,22274154,광주,156서1980,한국GM,더 뉴 트랙스,1.6 디젤 LT 기본형,1450,2018,52,27,...,1598,회색,오토,없음,없음,있음,2회,사고없음,주식회사 즐거운모터스,광주 서구
2,22274071,경기,01서3666,한국GM,더 뉴 스파크,LT 기본형,655,2017,57,54,...,0,흰색,오토,없음,없음,없음,1회,사고없음,창대모터스,경기 수원시
3,22269730,광주,196버2246,한국GM,올 뉴 크루즈,1.4 터보 LT 디럭스,999,2017,48,21,...,1399,흰색,오토,없음,없음,있음,1회,사고있음,(주)파랑새모터스,광주광역시 서구
4,22269296,부산,19저3500,한국GM,알페온,CL240 프리미엄,580,2011,131,83,...,0,인기색상,오토,없음,없음,없음,1회,사고있음,청산자동차상사,부산광역시 사상구
5,22267433,광주,38누9226,한국GM,쉐보레 말리부,2.0 디젤 LT 디럭스팩,855,2014,95,71,...,1956,검정,오토,없음,없음,없음,3회,사고있음,(주)두드림모터스,광주 서구
6,22266083,경기,91모4901,한국GM,대우트럭,윙바디,3500,2012,128,55,...,0,흰색,수동,없음,없음,있음,2회,사고있음,부자트럭,경기 오산시
7,22265196,대전,56가6488,한국GM,쉐보레 스파크,LS+,590,2014,86,49,...,995,흰색,오토,없음,없음,없음,3회,사고있음,우진모터스,대전 유성구
8,22773059,경기,56어5379,한국GM,알페온,CL300 프리미엄,599,2011,130,84,...,2997,검정색,오토,없음,없음,없음,1회,사고있음,무결점카모터스,경기 수원시
9,22262563,경기,25노0165,한국GM,알페온,EL300 슈프림,499,2011,134,86,...,0,은색,오토,없음,없음,있음,5회,사고있음,스카이모터스,경기 수원시
10,22261671,경기,경기91바3367,한국GM,대우트럭,카고,8800,2018,60,10,...,0,검정색,오토,없음,없음,있음,없음,사고없음,(합자)경동자동차매매상사,경기도 평택시
11,22261164,경기,81거6863,한국GM,뉴 라보,내장탑차 롱카고,700,2018,48,38,...,0,인기색상,수동,없음,없음,없음,5회,사고없음,카플러스,경기도 용인시
12,22013034,전북,372저6862,한국GM,더 뉴 스파크,Premier 기본형,1030,2019,31,30,...,999,회색,오토,없음,없음,없음,1회,사고없음,(유)유성모터스,전북 전주시
13,22257458,경남,16루1284,한국GM,라세티 프리미어,1.8 CDX ID 고급형,450,2010,141,73,...,1796,검정색,오토,없음,없음,없음,3회,사고있음,보배모터스,경남 김해시
14,22252902,광주,13로8617,한국GM,쉐보레 올란도,LTZ 프리미엄,850,2012,131,59,...,1998,흰색,오토,없음,없음,없음,6회,사고없음,(주)국가대표,광주 서구
15,22250981,전북,83루0236,한국GM,뉴 라보,롱카고 SUPER,880,2019,38,8,...,796,흰색,수동,없음,없음,없음,없음,사고없음,(주)엠카모터스,전북 전주시
16,22250656,경남,51수1580,한국GM,라세티 프리미어,1.8 SX ID 고급형,390,2010,144,73,...,1796,쥐색,오토,없음,없음,없음,3회,사고있음,무한상사,경남 창원시
17,22248711,경기,46고7038,한국GM,쉐보레 크루즈,1.8 LT 기본형,570,2012,127,68,...,1796,인기색상,오토,없음,없음,없음,3회,사고있음,뉴제이모터스,경기 수원시
18,22244606,경기,40러2957,한국GM,쉐보레 스파크,LS 스타,269,2012,117,74,...,0,분홍,오토,없음,없음,없음,3회,사고있음,(주)숨카,경기 부천시
19,22243894,전남,69우5520,한국GM,마티즈 CREATIVE,JAZZ 스타,380,2010,147,68,...,995,초록,오토,없음,없음,없음,5회,사고있음,JC모터스,전남 순천시

In [3]:
df2 = df[['car_no','car_name','car_cc']]

In [4]:
df2['car_cc'].unique()

array([     0,   1598,   1399,   1956,    995,   2997,    999,   1796,
         1998,    796,   1490,    550,   1341,   3800,      5,   1000,
         1991,    998,    450,   2231,   1362,   2384,   1591,   3564,
         2000,   1999,   1396,   3649,    300,   5880,   4500,    800,
         2457,   1597,   1993,   1498,   1600,   1997,   1800,   2400,
         1400,  10964,   1200,     34,   6162,     45,   1749,   2349,
         1995,   1500,   2488,   1461,   2495,   1599,   1596,   2500,
         1332,   1618,    129,   3500,   1955,   1838,   2300,   2299,
         3498,   1977,   1595,      1,   1499,   1299,     74,    156,
         1485,   1459,   1491,   1988,   1497,   1582,   1300,   1322,
         2498,   2398,     20,   2343,   2340,   1565,   2359,   2211,
            2,   1980,   2496,   2999,   1481,   2157,   3199,   2200,
         3200,   3598,   2198,   4966,   2696,   2874,     11,   2799,
         2179,   6000,   2189,  65981,   2199,   3600,  15840,   2698,
       160000,   5000,   2800,   2158,   2175,   2195,   2295,   2900,
         1578,   3000,   2159,   2700,   1590,     22,   1970,   1966,
         1615,   3700,   2194,  19989,   2686,   1560,   2979,   2776,
         2354,   1496,   1968,   2494,   2261,   5035,   2894,   3604,
         1984,   2360,   2694,   3696,   1798,   2967,   2993,   2487,
         5998,   1969,   3456,   4367,   1368,   2497,   2956,   2987,
         2996,   4608,   1493,   1987,   3496,   1781,   2672,   4009,
         3902,    225,   2995,    658,   4951,   3342,   5038,   3778,
         2362,   1797,   4900,   3436,     60,   3470,   4806,   5654,
         3996,   2143,   6200,   3300,   2720,   3605,   2981,   2998,
         3495,   1395,   4969,   3799,     66,   5328,   4395,   3982,
         4293,   4961,   3726,   4580,   1950,   5461,   2978,    174,
         4163,    100,   3499,   4300,   3296,   1989,    158,   2184,
         2925,   3189,    240,   2356,   1996,   2435,   4394,   2499,
         2994,   4663,   6592,   3398,   2480,    230,   1398,   4200,
         2777,    988,    997,   3994,   4000,   3741,   3333,   2397,
         5400,   1422,   2521,   1356,   3518,   5980,   3471,   3647,
         3445,     68,   6208,   3999,   4172,   1759,   4414,   3387,
         3993,    996,   1588,   5462,   5204,   3192,   2393,   4799,
         1990,   2152,   3950,   5988,   4700,   1206,   2429,   2736,
         4134,   2933,    115,   1196,   2989,   2290,   1795,    180,
         2502,   6728,   4999,   1242,   2035,   2837,   1350,   2171,
         4400,   3349,   3197,   3298,   2489,   1339,   5967,    956,
         4701,   4494,   6690,   3798,   3264,   5663,   3460,   1349,
         4890, 157000,   3599,    689,   1799,   4691,   2990,   6496,
         2485,   3597,      8,   1342,   4398,   7698,   2792,   2149,
         2458,   3606,   5950,   2401,   4196,   3400,   2197,   3956,
         5972,   3958,   1495,   1985,   1199,   4244,   4990,   3279,
         1775,   3123,     94,   5661,   4600,   3299,   8200,    167,
         2976,   3724,   1328,   4997,   3257,   2490,    232,   9998,
         3697,   1594,   1111,   1959,   2100,   1789,   3289,   4735,
          120,   4565,    188,   6209,    290,   4197,   2793,    125,
         2399,   2151,   3297,   3954,   3130, 134074,   2294,    990,
         1983,   3343,   1992,   1096,   3998,   1470,   6374,   2992,
         3824,    899,   5095,    798,     10,   6400,   2423,   5500,
         4998,   2798, 240323,   3699,   5300,   1979,   5200,  11362,
         2351,   2955,    799,   3341,   5935,   5986,   3987,   5514,
         4958,   6606,   2991,     32,   1981,   2342,   1589,   5135,
        30000,   3239,  10800,   1475,   6500,   3760,   2483, 115990,
         2893,   6752,   4633,   9675,    222,   1788,   3789,  55550,
         2922,   4259,   6417,   5327,   3628,   3311,   7500,   2597,
         1460,   4297,    150,   3565,   2789,   3312,   6700,   2687,
         1558,   3497,   3797,   6299,  10824,   6199,  25000,   9999,
         3698,   4397,   5733,   1948,   5513,   1587,   3459, 137426,
         3493,   2099,   2413,   2148,   5800,   3183,   1555,   5981],
      dtype=int64)

In [16]:
for x in df2['car_no'][:4]:
    print(x)

29너6142
156서1980
01서3666
196버2246

In [22]:
headers = {"user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/101.0.4951.54 Safari/537.36"}
driver = webdriver.Chrome("./chromedriver.exe")

try: 
    url = 'https://www.car365.go.kr/web/contents/websold_vehicle.do'
    res = requests.get(url, headers = headers)
    res.raise_for_status()

except Exception as e:
    print(e)
    
else:
    driver.get(url)
    driver.maximize_window()
    driver.implicitly_wait(10)
    
    for car_no in tqdm(df['car_no'][:4]):
        
        search = driver.find_element_by_xpath('//*[@id="search_str"]')
        search.click()
        search.send_keys(car_no) #네이버 검색창에 네이버 항공권 입력
        search.send_keys(Keys.ENTER)
        sleep(2)
        try:
            mile = driver.find_element_by_xpath('//*[@id="GUILD_CAR_MILEAGE"]').text
        except:
            print(f"{car_no}미등록")
            pass
        else:
            print(mile)
            search.click()
            search.send_keys(Keys.CONTROL + "a")
            search.send_keys(Keys.DELETE)

C:\Users\ksy94\AppData\Local\Temp/ipykernel_6664/2508025792.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome("./chromedriver.exe")
  0%|                                                                                            | 0/4 [00:00<?, ?it/s]C:\Users\ksy94\AppData\Local\Temp/ipykernel_6664/2508025792.py:19: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  search = driver.find_element_by_xpath('//*[@id="search_str"]')
C:\Users\ksy94\AppData\Local\Temp/ipykernel_6664/2508025792.py:25: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  mile = driver.find_element_by_xpath('//*[@id="GUILD_CAR_MILEAGE"]').text
 25%|█████████████████████                                                               | 1/4 [00:04<00:13,  4.43s/it]

29너6142미등록

 50%|██████████████████████████████████████████                                          | 2/4 [00:06<00:06,  3.21s/it]

156서1980미등록

 75%|███████████████████████████████████████████████████████████████                     | 3/4 [00:09<00:02,  2.77s/it]

01서3666미등록

100%|████████████████████████████████████████████████████████████████████████████████████| 4/4 [00:11<00:00,  2.83s/it]

196버2246미등록

In [21]:
mile

''